html {
  font-size: 26.66667vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: .14rem;
  line-height: .14rem;
}
#header {
  background-color: #006699;
  display: flex;
  height: .45rem;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  color: #fff;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  background-color: #fff;
  height: 35px;
  text-align: left;
  font-size: .14rem;
  margin-bottom: 0;
}
#header .right {
  width: .45rem;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right i {
  color: #fff;
}
#main {
  flex: 1;
  overflow: hidden;
  position: relative;
}
#main form {
  display: flex;
  padding: 10px;
  height: 0.44rem;
}
#main form input {
  flex: 1;
  height: 0.34rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #006699;
  margin-bottom: 0;
}
#main form .blueBtn {
  width: 0.6rem;
  height: 0.34rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  background-color: #006699;
}
#footer {
  background-color: #006699;
  height: .45rem;
}
#footer .mui-row > div a {
  height: .45rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .mui-row > div a i {
  display: block;
}
#footer .mui-row > div a span {
  display: block;
}
#main .mui-slider .mui-slider-item a {
  display: block;
}
#main .mui-slider .mui-slider-item a img {
  width: 100%;
}
#main .product-name span {
  line-height: 0.3rem;
  font-weight: bold;
}
#main .product-price span {
  font-size: 0.16rem;
  color: red;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}
#main .product-price del {
  font-size: 0.12rem;
}
#main .product-size span {
  line-height: 0.3rem;
  margin-right: 0.1rem;
}
#main .product-size button {
  margin-bottom: 0.1rem;
}
#footer {
  background-color: #ccc;
}
#footer .mui-row > div i {
  font-size: 20px;
  color: pink;
}
