html {
  font-size: 26.66667vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  vertical-align: middle;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: .14rem;
  line-height: .14rem;
}
#header {
  background-color: #006699;
  display: flex;
  height: .45rem;
}
#header .left {
  width: .45rem;
  height: .45rem;
}
#header .left a {
  color: #fff;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center {
  flex: 1;
}
#header .center h4 {
  color: #fff;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  background-color: #fff;
  height: 35px;
  text-align: left;
  font-size: .14rem;
  margin-bottom: 0;
}
#header .right {
  width: .45rem;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right i {
  color: #fff;
}
#main {
  flex: 1;
  overflow: hidden;
  position: relative;
}
#main form.search-form {
  display: flex;
  padding: 10px;
  height: 0.44rem;
}
#main form.search-form input {
  flex: 1;
  height: 0.34rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #006699;
  margin-bottom: 0;
}
#main form.search-form .blueBtn {
  width: 0.6rem;
  height: 0.34rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  background-color: #006699;
}
#footer {
  background-color: #006699;
  height: .45rem;
}
#footer .mui-row > div a {
  height: .45rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .mui-row > div a i {
  display: block;
}
#footer .mui-row > div a span {
  display: block;
}
#main .mui-table-view-cell .mui-btn {
  width: 100%;
  text-align: center;
  padding: 0.06rem 0rem;
}
